<nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/">Portfo<span>lio.</span></a></div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Home</a></li>
                <li><a href="/register" class="menu-btn" >Register</a></li>
                <li><a href="/login" class="menu-btn" >Log in</a></li>
            </ul>
        </div>
    </nav>